package components

templ Hero(name, title string) {
	<section id="hero">
		<div class="hero-content">
			<h1>{ name }</h1>
			<p>{ title }</p>
			<div class="hero-buttons">
				<a href="#projects" class="button">Meus Projetos</a>
				<a href="#contact" class="button button-secondary">Contato</a>
			</div>
		</div>
	</section>
}